@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: #000;
    background: url(assassins-creed-altair.gif) center/cover fixed;
    opacity: 0.7;
    overflow: hidden;

}

h1 {
    margin-top: 50 px;
    position: relative;
    justify-content: center;
    align-items: center;

    font-size: 4em;
    font-weight: 900;
    color: #fff;

    overflow: hidden;

}

h1::before {
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 50%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.5s linear forwards;


}

@keyframes animate {
    0% {
        left: 110%;
    }

    100% {
        left: -20%;
    }

}


h1 span {
    color: #ff022c;

}

video {
    position: absolute;
    bottom: 150px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
    opacity: 0.3;
    z-index: -1;


}

.first {

    width: 100%;
    text-align: center;


    filter: url(#Fire);

}

h3 {
    margin: auto;
    border: 20px #ff022c solid;

    font-weight: 200;
    -webkit-box-reflect: below -120px linear-gradient (transparent, #001);
    text-shadow: 0 0 10px #ff8c3b,
        0 0 10px #ff8c3b,
        0 0 10px #ff8c3b,
        0 0 10px #ff8c3b,
        0 0 10px #ff8c3b;




}

svg {
    width: 0;
    height: 0;
}

footer {
    height:30%;
    



    
    margin-top: 80px;



}
footer.a{

    
    transition: 12s ease-in-out;
    margin-top: 20px;
} 
a:hover {
    color: gold;
    margin-top: 100px;

}